body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

header {
    background: url('/imagenes/header_background.jpeg') no-repeat center center/cover;
    text-align: center;
    padding: 50px 20px;
    height: 100vh;
    color: #ffffff;
    justify-content: center;
}

header h1 {
    font-size: 35px;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    padding: 200px;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.content {
    max-width: 800px;
    background: #ffffff;
    padding: 20px;
}

.video iframe {
    width: 100%;
    border-radius: 10px;
}

.image img {
    width: 100%;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #000;
    margin-top: 20px;
}

strong {
    color: #ff0000;
}

.spoiler {
font-family: 'Times New Roman', Times, serif;
}

.developer {
    background: #000000;
    color: white;
    text-align: center;
}

.table-container {
    max-width: 600px;
    margin: 40px auto;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    background-color: #ffffff;
    text-align: center;
    width: 100%;
}

th, td {
    padding: 15px;
    border-bottom: solid #000;
}

th {
    background-color: #000;
    color: white;
    text-transform: uppercase;
}

td img {
    height: auto;
    border-radius: 10px;
    width: auto;
    align-items: center;
}
